@import "@workspace/ui-shadcn/globals.css";

@source "../**/*.{ts,tsx}";

@theme {
  --animate-marquee: marquee 30s linear infinite;

  @keyframes marquee {
    to {
      transform: translateX(-50%);
    }
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    overflow-x: clip;
  }
}
